*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    /* width: 20%;
    height: 20%; */
  }

  /* Poké Styles */
  .pokeballanimate{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    
  }
  .pokeballanimate::before,
  .pokeballanimate::after {
    content:"";
    position: absolute;
  }
  .pokeballanimate::before {
    background: red;
    width: 100%;
    height: 50%;
    margin-left: -50%;
  }
  .pokeballanimate::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
    margin-left: -50%;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
  }

  .pokeballanimate:hover{
    animation: fall .25s ease-in-out,
    shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
    
  }

  .pokeball__button:hover{
    animation: blink .5s alternate 7;
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }

figure.itemCategories{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 20%;
    margin-left: 5%;
}

.text{
  text-decoration:none; 
  color: black;
}

.img img{
  height: 50%;
  width: 50%;
  border: none;
  margin-top: 10%;
}
  
.backButton{
  margin-left: -65%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1; 
  top: 16%;
}

.backButton button:hover {
  color: rgba(250, 250, 11, 0.952);
  font-size: 14px;
}

/* berry */
.berries{
  position: relative;
  display: inline-block;
}

.berries .rp{
  display: none;
  position: absolute;
  widows: 100%;
  height: 83%;
  top: 0;
  left: 25%;
  z-index: 99;
}

.berries:hover .rp {
  display:inline;
}

/* disk */
.HM{
  position: relative;
  display: inline-block;
}

.HM .disk1 {
  display: none;
  position: absolute;
  widows: 100%;
  height: 83%;
  top: 0;
  left: 25%;
  z-index: 0;
}

.HM:hover .disk1  {
  display:inline;
}

/* Med */
.medicine{
  position: relative;
  display: inline-block;
}

.medicine .p3{
  display: none;
  position: absolute;
  widows: 100%;
  height: 82.5%;
  top: 0;
  left: 25%;
  z-index: 99;
}

.medicine:hover .p3{
  display: inline;
}

/* Sword */
.sword{
  position: relative;
  display: inline-block;
}

.sword .sword1{
  display: none;
  position: absolute;
  widows: 100%;
  height: 82.1%;
  top: 0;
  left: 25%;
  z-index: 99;
}

.sword:hover .sword1{
  display: inline;
}

/* Hold Item */
.holdItem{
  position: relative;
  display: inline-block;
}

.holdItem .h1{
  display: none;
  position: absolute;
  widows: 100%;
  height: 82.1%;
  top: 0;
  left: 25%;
  z-index: 99;
}

.holdItem:hover .h1{
  display: inline;
}