#pokemoninfo{
    margin-left: 29%;
    margin-top: 5%;
}

#pname{
    margin-top: -4%;
    font-size: 35px;
    text-transform: capitalize;
}

#pokemoninfo2{
    margin-left: 37%;
    margin-top: 5%;
}

#pokemoninfo3{
    margin-left: 45%;
    margin-top: 5%;
}

#names{
    font-size: 20px;
    text-transform: capitalize;
}

table{
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}


img{
    border: none;
}

.backButton{
    margin-left: -62%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 0; 
    top: 20%;
}

.backButton button:hover {
    color: rgba(250, 250, 11, 0.952);
    font-size: 14px;
}
