#monsters{
    margin-left: 40%;
    margin-top: 0%;
} 

#pimages{
    height: 200px;
    width: 200px;
    border: none;
}

#names{
    font-size: 25px;
    text-transform: capitalize;
}

#titlen{
    font-size: 40px;
    text-transform: capitalize;
}

td {
    padding: 10px 0;
}