#monsters{
    margin-left: 40%;
    margin-top: 0%;
} 

#pimages{
    height: 150px;
    width: 150px;
    border: none;
}

#names{
    padding: -10% 0%;
    font-size: 20px;
    text-transform: capitalize;
}

#titlen{
    padding: 10% 0%;
    font-size: 32px;
    text-transform: capitalize;
}