body {
    background: #313131;;
    padding: 20px;
    text-align: center;
}

.header{
    background-color: white;
    bottom: 85.8%;
    top: 0%;
    left: 10.5%;
    right: 10.5%;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    z-index: 1;   
}

hr {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}

.movingLine{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1.6%;
}

.gameList{
    text-align: left;
    border-style: solid;
    border-width: 2px;
    margin-left: 12%;
    margin-top: 2%;
    left: 2%;
    width: 13%;

}

.gameList{
    position: -webkit-sticky;
    position: sticky;
    top: 17%;

}

ul li{ 
    position: relative;
    list-style-type: none;
    margin: 3px;
    font-weight: bold;
    margin-left: 7%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    line-height: 15px;
}

.name{
    margin-left: 12%;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    
}

/* Getting rid of underline in hyper-links */
.name a{
    text-decoration:none;
    color: black;
}

#mainPage{
    background-color: white;
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 10.5%;
    right: 10.5%;
    z-index: -1;
}

h3{
    text-align: left;
    margin-left: 28%;
    margin-top: 4%;
    font-size: 22px;
}

img{
    height: 450px;
    width: 450px;
    z-index: -1;
    border-style: solid;
}


figure.gameList3 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 20%;
    margin-left: 5%;
}

.text{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
}

.switch{
    height: 450px;
    width: 300px;
    border-style: solid;
}

